*{
	padding: 0;
	margin: 0;
}

.menu{
	transition: 0.5s;
	background-color: blue;
	width: 300px;
	height: 100vh;
	left: 0;
	top: 0;
	padding-bottom: 20px;
}

.menu-logo {
	display: flex;
	justify-content: center;
	padding: 20px 0 20px 0;
}

.menu-logo i{
	font-size: 25px;
	position: fixed;
}

.menu-logo img{
	padding-left: 30px;
}

.menu-account{
	padding-left: 30px;
	color: white;
}

.menu-account .account-title{
	padding-left: 20px;
	padding-top: 10px;
}

.menu-account img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.menu-item{
	margin: 20px 0 0 25px;
}

.menu-item a{
	text-decoration: none !important;
	color: white !important;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
}

.item-title{
	padding: 25px 0 5px 30px;
}

.menu-close{
	width: 70px;
	height: auto;
	transition: 0.5s;
}

.menu-close .menu-logo img{
	display: none;
}

.menu-close .menu-account{
	display: none;
}

.menu-close .menu-item a{
	display: none;
}

.menu-close .item-title{
	display: none;
}

.menu-close .menu-logo i{
	padding-right: 10px !important;
}




